/* 单伪元素法 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 双伪元素法 */
/* before 解决外边距塌陷问题 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
/* after 清除浮动 */
.clearfix::after {
  clear: both;
}